* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-bar {
    background: #eee;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-icon {
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    background: #A1CF6B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.message-container {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0.5rem;
}
.action-container {
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.message-form {
    display: flex;
    gap: 0.8rem;
    width: 100%;
    margin: 0 auto;
    justify-items: right;
}

input[type=email],
input[type=text],
input[type=password] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 1rem;
    transition: border-color 0.3s;
    max-height: 50px;
}
textarea {
    width: 100%;
    min-height: 300px ;
    margin-bottom: 20px;
    padding: 0.8rem 1rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 1rem;
    transition: border-color 0.3s;
}

button {
    background: #000;
    max-height: 50px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}
button:hover {
    background: #aaa;
}
label {
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.status-bar {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    background-color: #000;
    height: 50px;
    font-size: 0.9rem;
    color: #4a5568;
    position: absolute;
    top: 100%;
    margin: 0px;
    margin-top: -50px;
}

.status-bar.success {
    background-color: #A1CF6B;
    color: #fff;
}

.status-bar.error {
    background-color: #E87461;
    color: #fff;
}

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
}
#login {
    gap: 10px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}
#registerForm {
    display: none;
}

a {
    text-decoration: underline;
    font-weight: initial;
    font-size: .8rem;
    text-transform: uppercase;
}
.action {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #aaa;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #aaa;
}
.action.active {
    background: #000;
    color: #fff;
}